Organization Requirements
=========================

Organization Name: Moot

We hold Moots to decide issues surrounding a piece of land entering
the more-than-human world.  These issues are discovered and resolved
through a design process that we use to resolve the inevitable tensions
that arise.


1) Communication
----------------

### Current

  glauka is responsible for informing for calling a moot.  She does
  this by general announcement and personal invitation.

  Places:          The general announcement happens in the
                   cottonwood tree across the street.
  Skills:          My owl eyes help me find those I need to invite.
  Primary Emotion: Anticipation.


### Future

  As we bring more property into the more-than-human world, I will
  need more help announcing moots.

  Places:          We can likely use the cottonwood tree for
                   coordination. 
  Skills:          We will need to discover ways to efficiently
                   share our observations.
  Primary Emotion: I get sad thinking we still have so much work
                   left.


2) Space
--------

### Current

  The Moot hill is where we always meet.  It must be specially
  managed because of the high traffic.

  Places:          The Moot hill is an old sand bar deposited long
                   ago by the Rio Grande.
  Skills:          cakyrespa maintains the paths and makes sure the
                   plants are healthy in this area.
  Primary Emotion: The moot hill always causes me fear, for I do not
                   know what we will decide.


### Future

  The Moot hill has plenty of room to handle our needs.


3) Transportation
----------------

### Current

  Everyone is responsible for getting to the moot.  We do not
  provide any infrastructure for doing so.


### Future

  It is expected, if you have never been to a moot, that you will be
  guided there by someone who has.


4) Resource Control
-------------------

### Current

  Moot hill is maintained in trust for the community.  No other
  resources are required.

  Places:          Moot hill is open.  It is maintained by social
                   contract and stern words from cakyrespa.
  Skills:          cakyrespa is eternally patient and wise.  Some
                   participants need years before they effectively
                   participate here, and cakyrespa faithfully guides
                   them.
  Primary Emotion: I have great admiration for the fact that Moot
                   hill maintains itself through reverence of the
                   community.


### Future

  Moot hill is sufficient for this community.


5) Shared Map
-------------

### Current

  It took us some time to develop norms around Moot hill.  In order
  that we do not waste this investment, we continue to tell the
  story of Moot hill at each moot.

  Places:          This culture is embodied to some degree in every
                   participant.
  Skills:          A minimum level of self-awareness is required to
                   participate in our moots.
  Primary Emotion: I am always surprised when I hear a cultural
                   value I cherish reflected back at me through our
                   process.


### Future

  The work of developing a shared map is ongoing.  The process of
  acculturating new members and preserving the skills of our
  existing members is the constant work of creating the world.

  Places:          Pieces of the shared map are performed at public
                   houses and everywhere else we gather.
  Skills:          Recognizing opportunities to do the work of the
                   moot, and being able to articulate that work is
                   important.  It requires good oration and
                   rhetorical skill.
  Primary Emotion: I find joy in this process, as I learn more about
                   it by teaching it.



6) Shared Plan
--------------

### Current

  The goal is ever and always to diffuse power and responsibility
  throughout the organization.  To express our shared vision
  equitably.

  Places:          No particular place.
  Skills:          Self-awareness, again, to recognize
                   inappropriate expression of power.
  Primary Emotion: annoyance, I'm sorry to say.  This work is hard.


### Future

  I cede control of this plan to those who express it.  In that I
  choose to observe rather than participate.



7) Shared Succession Model
--------------------------

### Current

  In the weak form, members of this organization lead when their
  muse demands they do, and they step aside when their muse is
  no longer with them.  In the strong form, our decision making
  ability is critical for resolving as best we can every issue
  that arises.

  Places:          No special place is needed.
  Skills:          This is the most challenging issue our decision
                   making process ever faces.
  Primary Emotion: I trust.


### Future

  When I pass a new facilitator will be chosen in accordance with
  the decision making process we practice.

  Places:          No special place is needed.
  Skills:          My ability to teach this culture will impact the
                   quality of my replacement.
  Primary Emotion: I fear I will not keep this organization
                   together.  It's members have many conflicting needs.



8) Additional Needs
-------------------

### Current

  We don't have any additional requirements for our practice.


### Future

  As we grow, we might find we need new structures to adapt to the
  growing number of participants.

  Places:          Every place we add to the more-than-human-world.
  Skills:          My skill at stacking functions will be essential
                   to scaling.
  Primary Emotion: I have some interest in seeing how we perform
                   under this pressure.


Obsolete Uses
-------------

  There is nothing that I can think of.
